
.page-footer {
    background: var(--main-footer-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.reso {
    
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: flex-end;
    margin:5px;
    vertical-align: baseline;
}

.page-footer ul {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.page-footer li {

    margin: 10px;
}

.logoReso {
    padding-top: 20px;
    display:flex;
    flex-direction: row;
}

.footer-logo{
    height: 50px;
    width: auto;
}

.new-paysage-footer {
    position: absolute;
    transform: translate(0%, -100%);
/*
    margin: -20px;
*/
    width: 100%;
    height: 100%;

    /*    border:solid;
    border-color: aqua;*/

    max-width: 100%;


    display: flex;
    justify-content: center;
    
    pointer-events: none;
}

.paysage-svg2 {
    max-width: 1000px;
    position: absolute;
    bottom: 0;
}

.mentionLeg {
    display: flex;
    justify-content:center;
    color:var(--third-content-background);
    border-top: solid 3px var(--third-content-background);
    margin-right: 5rem;
    margin-left:5rem;
    margin-top:1rem;
}

.mentionLeg ul {
    display: flex;
    flex-grow:0;
    justify-content:space-between;
}

@media (max-width:850px) {
    .logoReso {
        display:flex;
        flex-direction: column;
        width:auto;
        margin-bottom:10px;
    }
    .divLogo {
        width:fit-content;
        margin-bottom:10px;
    }
    .mentionLeg {
        margin:auto;
    }
}

/* barbaric method to expend the mention legal nav bar */
@media screen and (min-width:801px){
    .mentionLeg ul {
        display:flex;
        width:1000px;
        justify-content:space-between;
    }
}
