
header{
    font-family: var(--global--font-primary);
    font-weight: 300;
    font-variant: small-caps;
    position:relative;

}

.page-header {
    background: var(--main-header-color);
    z-index: 1;
    position:sticky;

}

.custom-logo{
    vertical-align: top;
    height: calc(var(--header-height) - 15px);
    width: calc((var(--header-height) - 15px) * 3.26);
    /*Le ratio du logo 1 pour 3.26*/
    margin: auto;
    
}

.page-header nav {
    display:flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: baseline;
}

.page-header nav .logo {
    flex-grow: 0;
}

.page-header nav .primary-menu-container {
    flex-grow: 1;
}

.page-header ul div ul{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    justify-items:stretch;
    width:100%;
    padding:inherit;

}

.page-header h2 {
    z-index:1;
    border-left: solid;
    height:     var(--header-height);
    padding: 8px;
    overflow: hidden; /*pour cacher les trucs qui débordent....*/
}



.page-header li {
    height: var(--header-height);
    border-left: solid;
    width:100%;
    display:flex;
    text-align: center;
}

.menu-item a {
    display:block;
    width:100%;
    
    color: black;
/*
    height:100%;
    padding-top:15px;
*/
    line-height: var(--header-height);
    text-align: center;
}

.page-header li:hover{

background-color: grey;
}

.page-header button {
    display:grid;
    justify-self:center;
}


#primary-menu-list{
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 800px) {
    .page-header {
        display: flex;
        flex-direction: column;
        height:80%;
    }

    .page-header nav{
        display:flex;
        flex-direction: column;
        height:auto;
    }
    
    .page-header ul div ul{
        height:30px;
        padding:0;
    }

    .page-header li {
        margin:0;
        font-size: small;
        text-align:justify;
        height:auto;
    }
    .page-header .cta-contact {
        width:25%;
    }
    .menu-item a {
        padding-top:5px;
        color: black;
    }
}


/* barbaric method to expend the menu nav bar */
@media screen and (min-width:801px){
    .page-header ul div ul {
/*        display:flex;
        width:850px;
        justify-content:space-evenly;*/
    }
}