.bloc-header {}

.bloc-splash {

    background-color: hotpink;
    margin-top: -3.5em;
    /*décalage selon le header, à modifier selon le bandeau admin aussi */

    height: 100vh;
    width: 100%;
    overflow: hidden;

}




.bloc-contenu {

    background-color: greenyellow;


}


.bloc-splash,
.bloc-contenu,
.bloc-header {


    /*    padding: 0;
    margin: 0;*/

}




.page-blocs-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: cornflowerblue;
    margin-top: 0;
}


.site,
.site-content {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: var(--global--font-primary);
}


.site-main {
    padding: 0;

}




#bottom {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#intro {
    position: absolute;
    top: 25px;
    left: 15px;
}


.background-image-landing {
    background-color: grey;
    background-size: cover;
    background-image: url('https://source.unsplash.com/1600x900/?$fablab');
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transform: scale(1.1);

    width: 100%;
    height: 100%;
}

.infoTxt {
    background-color: rgba(253, 253, 240, 0.45);
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
}

.bloc {


    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: white;
    font-size: 22px;


}


.main-logo {
    width: 100%;
    height: 100%;
    background-blend-mode: difference;

}

.bot-container {
    position: absolute;
    left: 20px;
    bottom: 20px;

    height: 10%;
    display: inline-block;

}

.small-logo {
    height: 100%;
    margin-left: 20px;
    width: auto;
    filter: brightness(0) invert(1);
}

.artois-logo {
    height: 80%;
}



.bloc-recents {
    background-color: gray;
    max-width: none !important;
    width: 100%;

    padding: 0;
    padding-bottom: 15px;
    margin: auto;

    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.m-thumb-container {}

.titre-recent {

    width: 100%;
    height: auto;
    font-size: 12rem;

    display: inline;
    line-height: 10rem;
    height: 10rem;


    color: white;
    font-variant: small-caps;

    vertical-align: bottom;
    margin-bottom: -25px;

}

.last-project-list {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.last-articles-list {
    width: auto display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}


button {
    margin: 10px
}

.m-thumb-container {
    width: calc(100%/3.13);
    margin-left: auto;
    margin-right: auto;

}

.bloc-article-recent {
    background-color: darkslategray;
    
}

.bloc-test-recent {
    background-color: coral;
}

.conteneur-recent {
    display: flex;

    flex-direction: row;
    width: 100%;
    padding: 0 20px 0 20px;

}

.contenu-recent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex-grow: 2;
}

.contenu-button {

    flex-grow: 1;
    min-width: 40px;
    margin: 10px 0 10px 0;
    cursor: pointer;

}

.m-article-container {
    width: calc(100%/3.13);
    margin-left: auto;
    margin-right: auto;

}

.m-article-container {

    width: calc(100%/3.13);


    margin: 10px auto 10px auto;


    height: 150px;


    background-position: center;
    background-color: gainsboro;
    
    cursor: pointer;
    box-shadow: 0 0 3px #000;
    
    color: white;
    
    

    /*   
    -webkit-box-shadow: 0 0 3px #000;
    overflow: hidden;
    */


}

.m-article-container:hover{
    background-color: gray;
}



.m-article-title {
    font-size: 1.5rem;
}

.m-article-date {
        font-size: 1rem;

}

.m-article{
    display: block;
    width: 100%;
    height: 100%;
}

footer{
    background-color: darkolivegreen;
    width: 100%;
    max-width: none !important;
    padding-bottom: 0 !important;
}

.site-info{
    padding-left: 25px;
    padding-right: 25px;
}


